@CHARSET "UTF-8";

{
padding:0px; 
margin:0px;
}

/
브라우저별 기본 여백 차이가 있기에 작성한다 . * /
body {
	font-size: 9pt;
}

td {
	font-size: 9pt;
}

a {
	cusor: pointer;
	color: #000000;
	text-decoration: none;
	font-size: 9pt;
	line-height: 150%;
}

a:HOVER, a:ACTIVE {
	font-size: 9pt;
	color: #F28011;
	text-decoration: underline;
}